body {
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'Noto700';
    src: url("../font/NotoSerifJP-Bold.otf");
  }
  
@font-face {
      font-family: 'Noto400';
      src: url("../font/NotoSerifJP-Medium.otf");
    }
  
@font-face {
      font-family: 'Abril_Fatface';
      src: url("../font/AbrilFatface-Regular.ttf");
    }


.container {
    margin: 0 auto;
    margin-top: 16px;
    padding: 0 5%;
}

.fixButton {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50px;
    background: #080F24;
    color: #fff;
    padding: 6px;
    border-radius: 15% 0 0 15%;
    z-index: 10;
}

.fixButton span {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 2px auto;
}

.fa-arrow-up {
    cursor: pointer;
    font-size: 4rem;
}

.fa-comment {
    cursor: pointer;
    font-size: 3rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 5%;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-left: 10%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account {
    width: 2rem;
    height: 2rem;
    margin-right: 10%;
}

.account img {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: -5%;
    margin-right: 8%;
}

.banner {
    width: 50%;
    aspect-ratio: 1 / 1;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.banner_image {
    width: 23%;
}

.banner_image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/*  */

.category h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.category ul {
    display: flex;
    gap: 1%;
    justify-content: center;
}

.category li {
    width: 15%;
    text-align: center;
}

.category a {
    display: block;
    box-shadow: 5px 5px 5px #c6c6c6;
    border-radius: 5%;
    height: 60%;
    padding: 5% 5% 25% 5%;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.category h3 {
    transform: translateY(0);
    font-size: 1.7rem;
}

/*  */
.new {
    width: 100%;
}

.newMobile {
    display: none;
}

.new_main {
    position: absolute;
    background-image: url(../image/model/main_new.png);
    background-position: center center;
    background-size: cover;
    width: 120%;
    height: 140%;
    top: -40%;
    left: -12%;

}

.new h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.newBox {
    display: flex;
    gap: 1%;
    justify-content: center;
    aspect-ratio: 8 / 3;
}

.newLeft {
    position: relative;
    width: 25%;
}

.newLeft img {
    width: 100%;
    height: 100%;
}

.absolute1 {
    position: absolute;
    top: 5%;
    left: 8%;
}

.absolute1 h2 {
    font-size: 1.2rem;
}

.absolute1 span {
    font-size: 2rem;
}

.absolute2 {
    position: absolute;
    top: 5%; 
    right: 5%;
}

.absolute2 h2 {
    font-size: 1.2rem;
}

.absolute2 span {
    font-size: 2rem;
}

.newRight {
    width: 50%;
}

.newRightUp{
    width: 100%;
    display: flex;
    background: #E5E6E0;
    height: 53%;
    justify-content: center;
}

.newRightUp img {
    width: 100%;
    height: 80%;
}

.newRightUp div:nth-child(1){
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newRightUp div:nth-child(1) h2 {
    font-size: 3.5rem;
    font-family: "Noto700";
}

.newRightUp div:nth-child(1) span {
    font-size: 0.8rem;
    font-family: "Noto400";
    color: #4a4a4a;
    margin: 3% 0;
} 

.newRightUp div:nth-child(1) p {
    font-size: 0.7rem;
    font-family: "Noto700";
    color: #141414;
    margin-bottom: 4%;
} 

.e {
    padding-top: 5%;
    padding-bottom: 5%;
}

.newRightUp div:nth-child(2){
    padding-left: 4%;
    display: flex;
    align-items: center;
}

.newRightDown {
    display: flex;
    height: 45%;
    margin-top: 2%;
}

.newRightDown li {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newRightDown li img {
    width: 66%;
    object-fit: cover;
}

.newRightDown li:nth-child(1){
    background-color: #DCDAD2;
}

.newRightDown li:nth-child(2){
    background-color: #F2F2EF;
}

.newRightDown li:nth-child(3){
    background-color: #DFDFD6;
}

.newRightDown h2 {
    font-size: 2rem;
    font-family: "Noto700";
    margin-bottom: 5%;
}

.buynow {
    background-color: #fff;
    max-width: 150px;
    width: 70%;
    height: 30px;
    border-radius: 20px;
}

.buynow a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
.bestBoxMobile {
    display: none;
}

.best {
    margin-top: 100px;
    margin-bottom: 100px;
}

.best h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.slide_list {
    display: flex;
    width: 333.3%;
}

.slide_item {
    position: relative;
    margin-right: 1%;
    height: 650px;
    width: calc(33.3333% - 1%);
}

.slide_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.slide_item span {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-size: 2rem;
    color: #fff;
}

.paginations {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination{
    padding: 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.pagination:not(:last-child) {
    margin-right: 1rem;
}

.pagination.on {
    background: #333;
}

.pagination:hover {
    background: #333;
}

/*  */
footer{
    background-color: #080F24;
    height: 200px;
}

footer > div {
    display: flex;
    height: 100%;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;
}

footer > div > div {
    display: flex;
    width: 32%;
    min-width: 300px;
}

footer div div ul {
    font-family: "Noto400";
    color: #fff;
    margin-right: 10%;
}

footer div div ul h1 {
    margin-bottom: 20px;
}

footer div div ul li {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

footer div span {
    display: block;
    width: 80px;
    margin-right: 5%;
}